<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sodacar.deer.dao.mapper.DeviceCheckLogsMapper">
  <resultMap id="BaseResultMap" type="com.sodacar.deer.dao.model.DeviceCheckLogs">
    <constructor>
      <arg column="DEVICE_NUMBER" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="STATUS" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATED_AT" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="CREATED_BY_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATED_BY_TYPE" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.sodacar.deer.dao.model.DeviceCheckLogsWithBLOBs">
    <constructor>
      <arg column="DEVICE_NUMBER" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="STATUS" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATED_AT" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="CREATED_BY_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATED_BY_TYPE" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="UUID" javaType="_byte[]" jdbcType="BINARY" />
      <arg column="DEVICE_ID" javaType="_byte[]" jdbcType="BINARY" />
      <arg column="INFO" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
      <arg column="CREATED_BY_ID" javaType="_byte[]" jdbcType="BINARY" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    DEVICE_NUMBER, STATUS, CREATED_AT, CREATED_BY_NAME, CREATED_BY_TYPE
  </sql>
  <sql id="Blob_Column_List">
    UUID, DEVICE_ID, INFO, CREATED_BY_ID
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.sodacar.deer.dao.model.DeviceCheckLogsExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from DEVICE_CHECK_LOGS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.sodacar.deer.dao.model.DeviceCheckLogsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from DEVICE_CHECK_LOGS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.sodacar.deer.dao.model.DeviceCheckLogsExample">
    delete from DEVICE_CHECK_LOGS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sodacar.deer.dao.model.DeviceCheckLogsWithBLOBs">
    insert into DEVICE_CHECK_LOGS (DEVICE_NUMBER, STATUS, CREATED_AT, 
      CREATED_BY_NAME, CREATED_BY_TYPE, UUID, 
      DEVICE_ID, INFO, CREATED_BY_ID
      )
    values (#{deviceNumber,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{createdByName,jdbcType=VARCHAR}, #{createdByType,jdbcType=VARCHAR}, #{uuid,jdbcType=BINARY}, 
      #{deviceId,jdbcType=BINARY}, #{info,jdbcType=LONGVARCHAR}, #{createdById,jdbcType=BINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sodacar.deer.dao.model.DeviceCheckLogsWithBLOBs">
    insert into DEVICE_CHECK_LOGS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deviceNumber != null">
        DEVICE_NUMBER,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="createdByName != null">
        CREATED_BY_NAME,
      </if>
      <if test="createdByType != null">
        CREATED_BY_TYPE,
      </if>
      <if test="uuid != null">
        UUID,
      </if>
      <if test="deviceId != null">
        DEVICE_ID,
      </if>
      <if test="info != null">
        INFO,
      </if>
      <if test="createdById != null">
        CREATED_BY_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deviceNumber != null">
        #{deviceNumber,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdByName != null">
        #{createdByName,jdbcType=VARCHAR},
      </if>
      <if test="createdByType != null">
        #{createdByType,jdbcType=VARCHAR},
      </if>
      <if test="uuid != null">
        #{uuid,jdbcType=BINARY},
      </if>
      <if test="deviceId != null">
        #{deviceId,jdbcType=BINARY},
      </if>
      <if test="info != null">
        #{info,jdbcType=LONGVARCHAR},
      </if>
      <if test="createdById != null">
        #{createdById,jdbcType=BINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sodacar.deer.dao.model.DeviceCheckLogsExample" resultType="java.lang.Long">
    select count(*) from DEVICE_CHECK_LOGS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update DEVICE_CHECK_LOGS
    <set>
      <if test="record.deviceNumber != null">
        DEVICE_NUMBER = #{record.deviceNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.createdAt != null">
        CREATED_AT = #{record.createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdByName != null">
        CREATED_BY_NAME = #{record.createdByName,jdbcType=VARCHAR},
      </if>
      <if test="record.createdByType != null">
        CREATED_BY_TYPE = #{record.createdByType,jdbcType=VARCHAR},
      </if>
      <if test="record.uuid != null">
        UUID = #{record.uuid,jdbcType=BINARY},
      </if>
      <if test="record.deviceId != null">
        DEVICE_ID = #{record.deviceId,jdbcType=BINARY},
      </if>
      <if test="record.info != null">
        INFO = #{record.info,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.createdById != null">
        CREATED_BY_ID = #{record.createdById,jdbcType=BINARY},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update DEVICE_CHECK_LOGS
    set DEVICE_NUMBER = #{record.deviceNumber,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      CREATED_AT = #{record.createdAt,jdbcType=TIMESTAMP},
      CREATED_BY_NAME = #{record.createdByName,jdbcType=VARCHAR},
      CREATED_BY_TYPE = #{record.createdByType,jdbcType=VARCHAR},
      UUID = #{record.uuid,jdbcType=BINARY},
      DEVICE_ID = #{record.deviceId,jdbcType=BINARY},
      INFO = #{record.info,jdbcType=LONGVARCHAR},
      CREATED_BY_ID = #{record.createdById,jdbcType=BINARY}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update DEVICE_CHECK_LOGS
    set DEVICE_NUMBER = #{record.deviceNumber,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      CREATED_AT = #{record.createdAt,jdbcType=TIMESTAMP},
      CREATED_BY_NAME = #{record.createdByName,jdbcType=VARCHAR},
      CREATED_BY_TYPE = #{record.createdByType,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>